/* LOS PSEODOELEMENTS NOS AYUDAN A AGREGAR COSAS EXTRAS A NUESTRO ELEMENTO SIN TENER QUE ESCRIBIR MÁS HTML */

/* LA FORMA EN QUE USAMOS LOS PSEUDOELEMENTS ES PONIENDO ":: DESPUÉS DEL SELECTOR QUE QUERAMOS MODIFICAR Y DESPUÉS DE LOS "::" ESPECIFICAMOS EL TIPO DE PSEOUDOELEMENTO A MODIFICAR */


/* FIRST-LETTER -> CAMBIA EL ESTILO DE LA PRIMERA LETRA */
p::first-letter{
    color: blue;
    font-size: 30px;    
}

/* BEFORE -> AGREGA CONTENIDO ANTES DE NUESTRA ETIQUETA SELECCIONADA, PARA QUE ESTO FUNCIONE TIENE QUE TENER LA PROPIEDAD "CONTENT" */
p::before{
    color: rgb(192, 192, 17);
    content: "Before";
}

/* AFTER -> AGREGA CONTENIDO DESPUÉS DE NUESTRA ETIQUETA SELECCIONADA, PARA QUE ESTO FUNCIONE TIENE QUE TENER LA PROPIEDAD "CONTENT" */
p::after{
    color: red;
    content: "After";
}

/* FIRST-LINE -> CAMBIA LOS ESTILOS DE LA PRIMERA LÍNEA DE TEXTO DE LA ETIQUETA SELECCIONADA */
.p-ejemplo::first-line{
    color: orange;
}

/* MARKER -> SIRVE PARA CAMBIAR LOS ESTILOS DE LAS VIÑETAS DE LAS LISTAS EN HTML, SE PUEDE PONER LA PROPIEDAD "CONTENT" Y AGREGAR UN CÓDIGO QUE REPRESENTA UN SIMBOLO PARA CAMBIAR LA FORMA DE LAS VIÑETAS (NOTA: EL PSEODOELEMENT TIENE QUE ESTAR A UN ESPACIO DE DISTANCIA DEL SELECTOR PARA QUE FUNCIONE) */
ul ::marker{
    color: brown;
    content: '\2212'
}

/* SELECTION -> CAMBIA EL SUBRAYADO QUE SE TIENEN NORMALMENTE, CUANDO SUBRAYAMOS ALGO DE UN SITIO PODEMOS CAMBIAR ESOS ESTILOS CON "SELECTION" */
p::selection{
    color: white;
    background: green;
}

/* PLACEHOLDER -> CAMBIA LOS ESTILOS DE LA PROPIEDAD "PLACEHOLDER" QUE TIENE UNA ETIQUETA INPUT */
input::placeholder{
    color: green;
}