/* EN CSS TENEMOS DIVERSAS FORMAS DE SELECTORES DEPENDIENDO DE QUE ETIQUETAS DE HTML QUEREMOS MODIFICAR */

/* SELECTOR BÁSICO
"CONSISTE EN ESTABLECER EL TIPO DE ETIQUETA A MODIFICAR, EN ESTE CASO UN PARRAFO" */
p{
    color: red;
}

/* SELECTOR UNIVERSAL
"SELECCIONA TODAS LAS ETIQUETAS DE HTML" */
*{
    color: blue;
}

/* SELECTOR DE CLASE
HACEMOS REFERENCIA A ETIQUETAS QUE TENGAN CIERTAS CLASES, EN ESTE CASO HAREMOS REFERENCIA A UNA ETIQUETA DEL HTML QUE TIENE LA CLASE 'par'" */
.par{
    color: green;
}

/* SELECTOR DE ID
"HACEMOS REFERENCIA A LAS ETIQUETAS QUE TENGAN UN ID, EN ESTE CASO HAREMOS REFERENCIA A LA ETIQUETA QUE TENGA EL ID 'pro'" */
#pro{
    color: pink;
}

/* SELECTOR PRO ATRIBUTOS
"CUANDO COLOCAMOS '[]' ADENTRO DE LO CORCHETES PONEMOS EL ATRIBUTO, EN ESTE EJEMPLO MODIFICAREMOS TODAS LA ETIQUETAS 'a' QUE TENGAN DE ATRIBUTO 'href="/"'" */
a[htre="/"]{
    color: orange;
}

/* AGRUPACIÓN DE SELECTORES
"PODEMOS PONER VARIOS SELECTORES A LA VEZ, SEPARANDO CADA SELECTOR CON UNA ','" */
p, .pro, [href]{
    background: red;
}