li{
    /* PARA LAS LISTAS NO HAY MUCHA COMPLEJIDAD */
    /* YA VIMOS COMO MODIFICAR LAS VIÑETAS DE LAS LISTAS CON PSEUDOCLASES */
    /* AHORA TENEMOS LA PROPIEDAD LIST-STYLE-POSITION QUE NOS AYUDA A INDICAR SI LAS VIÑETAS VAN A ESTAR AFUERA O ADENTRO DEL ELEMENTO */
    background: red;
    list-style-position: inside;

    /* Y CON LA PORPIEDAD LIST-STYLE-IMAGE CAMBIAMOS LAS VIÑETAS POR UNA IMAGEN QUE QUERAMOS */
    /* list-style-image: url(../10_borders/carro.avif); */
    
}

/* ESTE ES UN EJEMPLO DE COMO PODEMOS COMBINAR PSEUDOCLASES CON PSEUDOELEMENTOS PARA MODIFICAR CIERTAS VIÑETAS DE LA LISTA */
li:nth-child(4)::marker{
    color: yellow;
}