/* EL DISPLAY ES LA PROPIEDAD CSS QUE LE INDICARA COMO SE DEBE MOSTRAR UN ELEMENTO EN PANTALLA */

/* TENEMOS 3 VALORES BASE QUE SON  */

/* -Block
-Inline
-None */

/* A CONTINUACIÓN SE MUESTRA COMO SE LE ASIGNA UN VALOR DIFERENTE DE DISPLAY A CADA ETIQUETA DIV PARA VER EL COMPORTAMIENTO DE CADA DISPLAY */

/* PRIMERO LE DAMOS UN ANCHO Y ALTO A TODOS LOS P PARA VERLOS MÁS CLARAMENTE */
p{
    width: 300px;
    height: 200px;
}

/* LUEGO LE DAREMOS A LOS DIV UN ANCHO DEL 100% Y LE DAREMOS UN FONDO ROJO PARA VER LOS CONTENEDORES Y APRECIAR EL COMPORTAMIENTO DEL DISPLAY DEPENDIENDO SU VALOR */
div{
    width: 100%;
    background-color: red;  
}

/* LUEGO LE DAMOS UN COLOR DIFERENTE A CADA DIV PARA DIFERENCIARLOS Y SU VALOR DISPLAY */

/* LA PROPIEDAD BLOCK INDICA QUE LA ETIQUETA OCUPARA TODO EL ANCHO DE SU CONTENEDOR O ETIQUETA PADRE */
.d-block{
    display: block;
    background: rgb(145, 255, 0);
}

/* EL DISPLAY "INLINE" INDICA QUE EL COMPORTAMIENTO DE LA ETIQUETA SERÁ DE TAL FORMA QUE SU ANCHO Y CONTENIDO SERÁ IGUAL AL INDICADO CON LA PROPIEDAD "WIDTH" Y "HEIGHT" Ó SU ANCHO Y ALTO ESTARÁ DETERMIANDO POR EL CONTENIDO DE TEXTO DE LA ETIQUETA (EN DADO CASO QUE LA PROPIEDAD WIDTH Y HEIGHT NO SEAN INDICADAS) */
.d-inline{
    display: inline;
    background: rgb(255, 102, 0);
}

/* EL DISPLAY "NONE" LO QUE HACE ES OCULTAR EL ELEMENTO EN PANTALLA */
.d-none{
    display: none;
    background: orange;
}