
/* TENEMOS DIFERENTES FORMAS DE AGREGAR UN FONDO A NUESTROS ELEMENTOS, YA SEA UNCOLOR SOLIDO, UN GRADIENTE O PONER UNA IMAGEN DE FONDO */


/* MODIFICA LOS EJEMPLOS PARA QUE PUEDAS ENTENDER COMO FUNCINAN */

p{
    background: red;
}

div{
    background: linear-gradient(green, orange);
}

section{
    /* CON ESTA PROPIEDAD ESPECIFICAMOS QUE IMAGEN SERÁ DE FONDO */
    background-image: url(../10_borders/carro.avif);

    /* CON ESTA PROPIEDAD ESPECIFICAMOS EL TAMAÑO, LOS VALORES PARA ESTA PROPIEDAD PUEDEN SER CONTAIN,COVER O UN VALOR COMO 100% O 50% DEPENDIENDO DE LO QUE SE OCUPE: */
    background-size: contain;

    /* ESTA PROPIEDAD NOS AYUDA A ESPECIFICAR QUE EL BACKGROUND NO SE REPITA */
    background-repeat: no-repeat;

    /* AQUI AGREGAMOS UN SEGUNDO COLOR DE FONDO */
    background-color: red;

    /* Y POR ÚLTIMO AQUÍ INDICAMOS EN QUE LADO ESTARÁ LA IMAGEN DE FONDO, YA SEA EN TOP, BOTTOM,RIGHT O LEFT */
    background-position: bottom;
}