/* SHADOWS  -> ES LA FORMA EN QUE PODEMOS AGREGARLE SOMBRA A LOS ELEMENTOS DE NUESTRIO SITIO WEB */

p{
    /* BOS SHADOW -> ES LA PROPIEDAD CON LA QUE PODEMOS AGREGAR LA SOMBRA, EL PRIMER PARAMETROS ESPECIFICAMOS LA SOMBRA EN EL EJE X, EL SEGUNDO PARAMETRO DECIMOS LA SOMBRA EN EL EJE Y, EL TERCER PARAMETRO ESTABLECEMOS EL BLUR(OSEA LO BORROSO DE LA SOMBRA) Y EL CUARTO PARAMETRO ESTABLECEMOS EL COLOR DE LA SOMBRA */
    box-shadow: 10px 20px 10px red;
}


button{
    border-radius: 10px;
    padding: 10px 5px;
    background: rgb(238, 84, 84);
    box-shadow: 1px 1px 2px rgb(128, 125, 125);
}

h3{
    /* TEXT SHADOW  -> ES LA FORMA DE AGREGAR SOMBRA PERO A LOS TEXTOS, TIENE LOS MISMOS PARAMETROS QUE LA PROPIEDAD BOX SHADOW SOLO QUE AHORA EL EFECTO SE VA A APLICAR EN LOS TEXTOS DE NUESTRO SITIO WEB */
    text-shadow: 2px 2px 1px yellowgreen;
}