/* TRANSITION */

/* ES LA FORMA EN QUE PODEMOS DARLE A LOS ELEMENTOS UNA TRANSICION DE CAMBIO, EN ESTE CASO CUANDO A ESTE BOTON LE CAMBIAMOS LOS ESTILOS AL MOMENTO DE PONER EL RATON SOBRE EL ELEMENTO, AHÍ APLICAMOS LA PROPIEDAD TRANSITION PARA VER ESE CAMBIO DE ESTILOS */

a{
    text-decoration: none;
    background: green;
    padding: 5px;
    border-radius: 5px;
    color: white;

    /* LA PROPIEDAD TRANSITION RECIBE LOS SIGUIENTES PARAMETROS */
    /* 1) EL PRIMER PARAMETRO ESPECIFICAMOS QUE PROPIEDADES PUEDEN TENER UNA TRANSICIÓN COMO EL BACKGROUND,BORDER ETC. PERO TAMBIÉN PODEMOS ESPECIFICAR EL VALOR DE "ALL" PARA INDICAR QUE TODAS LAS PROPIEDADES TENDRAN UNA TRANSICIÓN */
    /* 2) EL TIEMPO QUE TARDARÁ LA TRANSICIÓN EN MILISEGUNDOS */
    /* 3)EL TIPO DE TRANSITION QUE TENDRA QUE SEA LINEAR, EASE IN OUT ETC. */
    transition: all 1000ms ease-in-out;
}

a:hover{
    background: red;
    color: black;
    display: inline-block;
}