/* EN CSS, CADA ETIQUETA HTML SE CONSIDERA UNA CAJA, UNA CAJA EN CSS TIENE 4 PORPIEDADES BASES
-CONTENT
-PADDING
-BORDER
-MARGIN */

/* PARA ESTE EJEMPLO MODIFICARESMO LAS PROPIEDADES ANTES MENCIONADAS DE UNA ETIQUETA "p" */
p{
    /* CON ESTAS PROPIEDADES MODIFICAMOS EL CONTENIDO DE LA CAJA */
    width: 200px;
    height: 200px;

    /* DE ESTA FORMA PODEMOS MODIFICAR EL MARGIN DE UN ELEMENTO */
    /* margin: 50px 20px 30px 40px; TOP RIGHT BOTTOM LET */
    /* margin: 20px 40px; TOP-BOTTOM RIGHT-LEFT */
    /* margin: 50px; PARA TODOS LOS LADOS SON 50px */

    /* DE ESTA FORMA PODEMOS MODIFICAR EL PADDIGN DE UN ELEMENTO */
    /* padding: 50px 20px 30px 40px; TOP RIGHT BOTTOM LET */
    /* padding: 20px 40px; TOP-BOTTOM RIGHT-LEFT */
    /* padding: 50px; PARA TODOS LOS LADOS SON 50px */

    /* CUANDO MODIFICAMOS EL BORDE DE UN ELELEMNTO TENEMOS QUE ESPECIFICAR PRIMERO SU TAMAÑO, LUEGO EL TIPO DE BORDE Y AL FINAL EL COLOR */
    border: 2px solid black;
    /* PODEMOS MODIFICAR CADA LADO DEL BORDE DE MANERA INDIVIDUAL TAMBÍEN */
    border-bottom: 5px solid orange;
    border-top: 10px solid purple;
    border-right: 2px solid red;
    border-left: 15px solid green;
}